  #Kontakt
  {
    position:absolute;
    top:4em;left:2em;
    margin-left:0em;
    font-family: sans-serif;
    color:#000000;
  }

  #Links
  {
    /* position:absolute;
    top:1em;left:3em; */
  }

  #Linie_H1
  {
    position:absolute;
    top:0em;left:1em;
  }

  #Linie_H2
  {
    position:absolute;
    top:28em;left:1em;
   }

  #Inhalt_1
  {
    position:relative;
    margin-top:0em;margin-left:0em;
    background-color:#ffffff;
  }

  #Inhalt_2
  {
    position:relative;
    background-color:#7A501B;

  }

  #Navigation
  {
    position:absolute;
    top: 10em; left:5em;
    font: normal 60% Berlin Sans FB;
   }


  #Navigation a:link {
    color:#ffffff;
  }
  #Navigation a:visited {
    color:#F5F6CE;
  }
  #Navigation a:hover {
    color:#888888;
  }
  #Navigation a:active {
    color:#ffffff;
  }

  a:link {
    color:#7A501B;
  }
  a:visited {
    color:#7A501B;
  }
  a:hover {
    font: normal 100% Berlin Sans FB;
    color:#CC8B3C;
  }
  a:active {
    font: normal 100% Berlin Sans FB;
    color:#ffff00;
  }


  h1
  {
    color:#000000;
    left:5em;
  }

  h2
  {
    font: normal 120% Berlin Sans FB;
    color:#000000;
    left:5em;
  }

  h3
  {
    font: normal 110% Berlin Sans FB;
    color:#000000;
    left:5em;
  }

  h
  {
    font: normal 100% Berlin Sans FB;
    color:#F5F6CE;
  }

  ol
  {
    font: normal 100% Berlin Sans FB;
    color:#F5F6CE;
  }