* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 150%;
  color: #2b2b2b;
  font-family: 'Inter', sans-serif;
}

.page {
  padding: 16px;
}

#Inhalt_1 {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

#Navigation {
  height: 100vh;
  background-color: #F5F8FD;
  
  box-shadow: 0 0 2px #cfd6d8;
  color: #353535;
  padding: 20px;
  grid-row: span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: bold;
  font-size: 16px;

  overflow-y: scroll;
}

#IFrame2 {
  grid-row: span 2;
}

#Navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: inherit;
}

#Navigation ul ul {
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 14px;
  color: #3f4247;
}

#Navigation li {
  margin-bottom: 1rem;
}

#Navigation a {
  color: inherit;
  text-decoration: none;
}

#Navigation p {
  margin: 0;
  font-size: 14px;
}


article {
  margin-bottom: 4rem;
}

.task-description {
  /* margin: 0 1rem; */
  padding: 1rem;
  padding-top: 1rem;
  border-radius: 1rem;
  background-color: #f3f4f7;
  position: relative;
  color: #2b2b2b;
}
iframe {
  width: 100%;
  height: 100%;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

img, table {
  max-width: 100%;
}

.list-indicator {
  display: inline;
  color: rgb(70, 87, 119);
}

.math {
  font-family: monospace;
  white-space: pre-wrap;
}

.rows {
  white-space: pre-line;
  line-height: 1.4;
  font-size: 0.8em;
  font-family: monospace;
}
 
.aside {
  position: relative;
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.aside > *{
  flex: 1;
}

.aside .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: .4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h4 {
  margin: 2em 0  1em 0;
}

video{
  width: 100%;
  height: auto;
}